/* width */
.better-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.better-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.better-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.better-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
